/* From Uiverse.io by SelfMadeSystem */ 
.clock-input {
  display: flex;
  position: relative;
  margin-left: 50px; /* Increased to move the radio button further to the right */
  width: 150px;
  height: 150px;
  --a: #0004, #fff4;
  --b: var(--a), var(--a), var(--a);
  --c: var(--b), var(--b), var(--b);
  background: conic-gradient(
      from -2deg,
      #efefff88,
      #00000088,
      #efefff88,
      #00000088,
      #efefff88
    ),
    radial-gradient(var(--c), var(--c)),
    radial-gradient(circle at 12% 12%, #efefff, #9999a4);
  background-size: calc(100% + 20px) calc(100% + 20px);
  background-position: -10px -10px;
  border: 10px solid #0005;
  border-radius: 50%;
}

.clock-input input {
  display: none;
  pointer-events: none;
}

.dial {
  position: absolute;
  width: 65px;
  height: 10px;
  border-radius: 99px;
  background-color: #000b;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  transform-origin: 5px 50%;
  pointer-events: none;
  transition: 0.15s;
  animation: owo 0.15s;
}

@keyframes owo {
  0% {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.clock-input label {
  position: absolute;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

#v1:checked ~ #l2 {
  z-index: 2;
}
#v1:checked ~ .dial {
  transform: rotate(0deg);
}

#v2:checked ~ #l3 {
  z-index: 2;
}
#v2:checked ~ .dial {
  transform: rotate(60deg);
  animation: none;
}

#v3:checked ~ #l4 {
  z-index: 2;
}
#v3:checked ~ .dial {
  transform: rotate(120deg);
  animation: none;
}

#v4:checked ~ #l5 {
  z-index: 2;
}
#v4:checked ~ .dial {
  transform: rotate(180deg);
  animation: none;
}

#v5:checked ~ #l6 {
  z-index: 2;
}
#v5:checked ~ .dial {
  transform: rotate(240deg);
  animation: none;
}

#v6:checked ~ #l1 {
  z-index: 2;
}
#v6:checked ~ .dial {
  transform: rotate(300deg);
  animation: none;
}

.notch {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2.5px;
  background-color: #fffc;
  transform: translate(-50%) rotate(calc((var(--n) - 1) * 60deg))
    translateX(95px);
  counter-reset: section;
}

.notch::before {
  content: counter(section);
  position: absolute;
  counter-set: section var(--n);
  color: #fffc;
  transform: translate(30px, -50%) rotate(calc((var(--n) - 1) * -60deg));
  font-size: 30px;
}